.about {
  text-align: center;
}

.card {
  display: flex;
  gap: 8px;
}

.card img {
  height: 24px;
}

.skills_grid {
  display: grid;
  text-align: left;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-bottom: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2 350px);
  gap: 1rem;
  padding: 2rem 0;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 891px) {
  .row {
    flex-direction: column;
  }
}
