.header {
  background-color: #09201b;
  color: #ccfae1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar--links {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0;
  flex-wrap: wrap;
}
.navbar--links .link {
  text-decoration: none;
  color: var(--primary-regular);
  padding: 0.5em 0.75em;
  border-radius: 4px;
}
.header__logo {
  color: var(--primary-light);
}

.bars {
  display: none;
  cursor: pointer;
  height: 38px;
}

.mobile-nav {
  display: none;
}

.mobile-nav.active {
  display: block;
}

@media screen and (max-width: 617px) {
  /* .navbar {
    background-color: aqua;
  } */
  .navbar--links {
    display: none;
  }
  .bars {
    display: block;
  }
}
