.project-h {
  display: flex;
  /* flex-direction: row; */
}

.built {
  background-color: var(--primary-regular);
}

.steps {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.members {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.socials {
  display: flex;
  gap: 4px;
}

@media screen and (max-width: 891px) {
  .project-h {
    flex-direction: column;
    gap: 2rem;
  }

  .steps {
    place-content: center;
    margin-left: 1rem;
  }

  .built__header {
    margin-left: 1rem;
  }
}
