.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.built {
  background-color: var(--primary-regular);
}

.steps {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
